* {
  margin: 0;
  padding: 0;
  box-sizing: border-b ox;
}
body{
  background-color: rgb(255, 247, 201);
  font-family: Arial;
  font-size: 20px;
}

h1{
  color: rgb(255, 0, 0);
}

.first{
  color: rgb(0, 0, 255);
}

#your-name{
  background-color: aquamarine;
  border: 5px solid #b35858;  
}